  <body>
    Swing-based GUI components and associated helper classes.  This package contains
    the components responsible for rendering the application and providing
    the application-level logic.  Some of the important classes include:
    <ul>
    <li><b>PowerloomApp - </b>The "main" class for the application.
    <li><b>PowerloomTrees -</b>Contains the selection and updating logic for the Browser Frames.
    </ul>
   <p>
    Questions and comments should be directed to <a href="mailto:eric@metrotech-consulting.com">Eric Melz</a> or <a href="mailto:hans@isi.edu">Hans Chalupsky</a> <p>
<!-- Created: Thu Nov 14 18:54:21 Pacific Standard Time 2002 -->
<!-- hhmts start -->
Last modified: Wed Nov 20 15:51:14 PST 2002
<!-- hhmts end -->
  </body>
</html>
